<!-- Navigation-bar section -->
<nav class="navbar fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Nezasa Logo" src="https://d18k51ywi97rok.cloudfront.net/assets/images/company-icons/83669439d17a08fb17012b063f51e82b-nezasa_logo_red_250x173.png">
            </a>
        </div>
    </div>
</nav>

<!-- Application section to search for airports based on user chosen criteria -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to AirSearch</h1>
        <p class="lead">We hope you find exactly the airport you're looking for.</p>

        <form class="form-inline">
            <div class="input-group">
                {{input type="text" value=inputSearch class="form-control" size="50" placeholder="Search By"}}
                <div class="input-group-btn">
                    {{#link-to "airports" (query-params query=inputSearch) class="btn btn-danger btn-lg"}} Go! {{/link-to}}
                </div>
            </div>
        </form>

    </div>
</div>
